@import "tailwindcss";

@layer base {
  :root {
    --scrollbar-width: 20px;
  }
  body {
    font-family: "Lexend", Avenir, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .font-thin {
    font-weight: 100;
  }

  .font-extralight {
    font-weight: 200;
  }

  .font-light {
    font-weight: 300;
  }

  .font-normal {
    font-weight: 400;
  }

  .font-medium {
    font-weight: 500;
  }

  .font-semibold {
    font-weight: 600;
  }

  .font-bold {
    font-weight: 700;
  }

  .font-extrabold {
    font-weight: 800;
  }
}